.user {
  max-width: 800px;
  width: 95%;
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2.5em;
  &__img {
    min-width: 200px;
    width: 40%;
    overflow: hidden;
  }
  &__outline {
    border-radius: 10px;
    border: 3px solid $navy;
    padding: 20px;
    position: relative;
    z-index: 3;
  }

  &__photo {
    border-radius: 10px;
    border: 3px solid $blue;
    position: relative;
    z-index: 7;

    &::after {
      @include af-bef(calc(100% + 80px), 40%);
      position: absolute;
      background-color: #fff;
      top: -25%;
      left: 30%;
      z-index: 6;
    }
    &::before {
      @include af-bef(40%, calc(100% + 80px));
      position: absolute;
      background-color: #fff;
      top: 25%;
      left: -20%;
      z-index: 6;
    }
  }
  &__image {
    display: block;
    width: 100%;
    position: relative;
    z-index: 7;
  }
  &__text {
    max-width: 400px;
    width: 50%;
    text-align: left;
    margin: 30px;
    background-image: url("../../img/bg.gif");
    background-position: right;
    background-repeat: no-repeat;
  }
  &__data {
    font-weight: 600;
    margin-top: 0;
  }
  &__info {
    color: $blue;
    font-family: $headerFont;
    font-weight: bold;
  }
}