$red: #f24c62;
$gray: #c7c4c4;
$blue: #49c6dd;
$white: #fff;
$navy: #005070;
$lightBlue: #bdd6de;
$purple: #CE0B9A;
$bradius: 5px;
$headerFont: 'Josefin Sans', sans-serif;
$textFont: 'Barlow Condensed', sans-serif;