$red: #f24c62;
$gray: #c7c4c4;
$blue: #49c6dd;
$white: #fff;
$navy: #005070;
$lightBlue: #bdd6de;
$purple: #73227a;
$lightPurple: #ecd7fa;
$marine: #0c8583;
$trGray: rgba(192,192,192, .5);
$bradius: 5px;
$headerFont: 'Josefin Sans', sans-serif;
$textFont: 'Barlow Condensed', sans-serif;
$titleFont: 'PT Sans', sans-serif;